.nav-item {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 3px;
  padding: 4px 4px;
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  font-family: "Press Start 2P";
}

.nav-item:hover {
  border: 3px solid green;
  border-radius: 5px;
  text-decoration: none;
  font-size: 10px;
  font-family: "Press Start 2P";
  background-color: white;
}

.nav {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
