a:hover {
  color: black;
}

a {
    text-decoration: none;
    color: green;
}

p {
   padding: 12px 10px;
   letter-spacing: 0,01cm;

}

h1 {
    color: black;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 2px 2px rgb(2, 173, 2);
    font-family: 'Press Start 2P', cursive;
    background-image: url("https://i.pinimg.com/564x/2c/8b/aa/2c8baa4c7947513ba1502c2cfb21d6c7.jpg");
    padding: 90px;
}

.bh {
    

}


h2 {
    font-size: 13px;
    text-align: center;
}

html {
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

body {
    background-color: white;
    text-align: left;
}

img {
    display: block;
    margin: 0 auto;
}

.nav-item  {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 3px;
    padding: 4px 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Press Start 2P';
}

.nav-item:hover {
    border: 3px solid green;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Press Start 2P';
    background-color: white;
}

.nav {
    position: fixed;
    background-color: white;
}

#g-link:hover {
    color: rgb(255, 0, 128);
}

#g-link {
    color: black;
}