a:hover {
  color: rgb(255, 0, 191);
}

a {
    text-decoration: none;
}

p {
   padding: 12px 10px;
   letter-spacing: 0,01cm;

}

h1 {
    color: black;
    font-size: 28px;
    text-align: center;
    line-height: 2;
    text-shadow: 1px 2px 2px green;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 13px;
    line-height: 2;
    text-align: center;
}

html {
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

body {
    background-color: white;
    text-align: left;
}

img {
    display: block;
    margin: 0 auto;
}

#menu {
    border: 3px solid green;
    border-radius: 5px;
    margin: 5px;
    padding: 4px 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Press Start 2P';
    position: fixed;
}